<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb" style="height: 300px;
width: 400%;
right: 600px;">
                <div class="container">
                    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                        <div class="col-first">
                            <h1>Shopping Cart</h1>
                            
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Banner Area -->
            <!--================Cart Area =================-->
            <section class="cart_area">
                <div class="container">
                    <div class="cart_inner">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Product</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let prod of items ; index as i">
                                        <td>
                                            <div class="media">
                                                <div class="d-flex">
                                                    <img src="assets/img/category/s-p1.jpg" style="height: 200px;" alt="">
                                                </div>
                                                <div class="media-body">
                                                    <p> {{prod.product_name}} </p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5> ${{prod.product_price}} </h5>
                                        </td>
                                        <td>
                                            <div class="product_count">
                                                <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:"
                                                    class="input-text qty">
                                                <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                                    class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                                <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                                    class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                            </div>
                                        </td>
                                        <td>
                                            <h5> ${{prod.product_price}} </h5>
                                        </td>
                                    </tr>
                                                                       <tr class="bottom_button">
                                        <td>
                                            <!-- <a class="gray_btn" href="#">Update Cart</a> -->
                                        </td>
                                        <td>
        
                                        </td>
                                        <td>
        
                                        </td>
                                        <td>
                                            <!-- <div class="cupon_text d-flex align-items-center">
                                                <input type="text" placeholder="Coupon Code">
                                                <a class="primary-btn" >Apply</a>
                                                <a class="gray_btn" >Close Coupon</a>
                                            </div> -->
                                        </td>
                                    </tr>
                                   
                                    <!-- <tr class="shipping_area">
                                        <td>
        
                                        </td>
                                        <td>
        
                                        </td>
                                        <td>
                                            <h5>Shipping</h5>
                                        </td>
                                        <td>
                                            <div class="shipping_box">
                                                <ul class="list">
                                                    <li><a href="#">Flat Rate: $5.00</a></li>
                                                    <li><a href="#">Free Shipping</a></li>
                                                    <li><a href="#">Flat Rate: $10.00</a></li>
                                                    <li class="active"><a href="#">Local Delivery: $2.00</a></li>
                                                </ul>
                                                <h6>Calculate Shipping <i class="fa fa-caret-down" aria-hidden="true"></i></h6>
                                                <select class="shipping_select">
                                                    <option value="1">Bangladesh</option>
                                                    <option value="2">India</option>
                                                    <option value="4">Pakistan</option>
                                                </select>
                                                <select class="shipping_select">
                                                    <option value="1">Select a State</option>
                                                    <option value="2">Select a State</option>
                                                    <option value="4">Select a State</option>
                                                </select>
                                                <input type="text" placeholder="Postcode/Zipcode">
                                                <a class="gray_btn" href="#">Update Details</a>
                                            </div>
                                        </td>
                                    </tr> -->
                                    <tr class="out_button_area">
                                        <td>
        
                                        </td>
                                        <td>
        
                                        </td>
                                        <td>
                                               
                                        </td>
                                        <td>
                                            <div class="checkout_btn_inner d-flex align-items-center">
                                                
                                                <button class="primary-btn" (click)="onSubmitForm()">Proceed to checkout</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>


<!-- <div class="container">
<div style="    margin-top: 10px; left: 15px;" class="row"> 
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="clearCart()">
                Clear cart
        </button>
</div>
<div class="row">
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" routerLink="/shipping" style="top: 20px;"><i class="material-icon">Shipping Details</i></a>
</div>
<div class="row">
        <ul class="demo-list-item mdl-list" *ngFor="let prod of items ; index as i" style="width: 500px;">
                <li class="mdl-list__item">
                        <div class="demo-card-wide mdl-card mdl-shadow--2dp"  >
                                <div class="mdl-card__title" style="    background: cornflowerblue;" >
                                  <h2 class="mdl-card__title-text">{{prod.name}}</h2>
                                  <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="left:100px; position: relative;"  (click)="deleteThisItem(i)"><i class="material-icons">clear</i></a>
                                </div>
                                <div class="mdl-card__actions mdl-card--border" style="text-align: center;
                                padding-top: 50px;
                                color: black;
                                font-size: xx-large;
                                font-style: italic;" >
                                        {{prod.description}}
                                </div>
                                
                              </div>
                </li>
           
        </ul>
</div> -->
<!-- <div style="top:20px;" class="row">
        <form [formGroup]="formmodel" (ngSubmit)="onSubmitForm(formmodel.value)">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="top:50px;">
                  <input class="mdl-textfield__input" type="text" id="sample1" formControlName="name" autofocus>
                  <label class="mdl-textfield__label" for="sample1">Name</label>
                </div>
                <br />
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="top:80px;">
                        <input class="mdl-textfield__input" type="text" id="sample1" formControlName="address" >
                        <label class="mdl-textfield__label" for="sample1">Address</label>
                      </div>

                <button  class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" style="    top: 130px;
                right: 300px;"><i class="material-icon">Purchase</i></button>
        </form>
</div> -->
<!-- </div> -->
