<div class="container">
<div style="    margin-top: 10px; left: 15px;" class="row"> 
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="clearCart()">
                Clear cart
        </button>
</div>
<div class="row">
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" routerLink="/shipping" style="top: 20px;"><i class="material-icon">Shipping Details</i></a>
</div>
<div class="row">
        <ul class="demo-list-item mdl-list" *ngFor="let prod of items ; index as i" style="width: 500px;">
                <li class="mdl-list__item">
                        <div class="demo-card-wide mdl-card mdl-shadow--2dp"  >
                                <div class="mdl-card__title" style="    background: cornflowerblue;" >
                                  <h2 class="mdl-card__title-text">{{prod.name}}</h2>
                                  <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="left:100px; position: relative;"  (click)="deleteThisItem(i)"><i class="material-icons">clear</i></a>
                                </div>
                                <div class="mdl-card__actions mdl-card--border" style="text-align: center;
                                padding-top: 50px;
                                color: black;
                                font-size: xx-large;
                                font-style: italic;" >
                                        {{prod.description}}
                                </div>
                                
                              </div>
                </li>
           
        </ul>
</div>
<div style="top:20px;" class="row">
        <form [formGroup]="formmodel" (ngSubmit)="onSubmitForm(formmodel.value)">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="top:50px;">
                  <input class="mdl-textfield__input" type="text" id="sample1" formControlName="name">
                  <label class="mdl-textfield__label" for="sample1">Name</label>
                </div>
                <br />
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="top:80px;">
                        <input class="mdl-textfield__input" type="text" id="sample1" formControlName="address">
                        <label class="mdl-textfield__label" for="sample1">Address</label>
                      </div>

                <button  class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" style="    top: 130px;
                right: 300px;"><i class="material-icon">Purchase</i></button>
        </form>
</div>
</div>
