<h2>Products List</h2>
<div >
    <ul class="demo-list-item mdl-list">
        <div *ngFor="let prod of productlist; index as productid" style="padding-bottom: 30px;">
                <li class="mdl-list__item" >
                <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">grade</i> <a [title]="prod.name + ' details'"  [routerLink]="['/productdetails', productid]" > {{ prod.name }} {{productid}}</a> 
                </span>
                </li>
                <p *ngIf="prod.description" 
                style="padding-left: 50px;
                position: relative;
                top: 5px;
                font-family: monospace;
                color: darkblue;"> Description : {{prod.description}}</p>
            <button (click)="share()" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                    <i class="material-icons">share</i>
            </button> 
            <app-product-alert [product]="prod" (notify)="onNotify()"></app-product-alert>
        </div>
    </ul>
</div>